<div ng-app="myApp">
    <div class="jumbotron">
        <h1>Student Marks {{ '&ndash; ' + courseName }}</h1>
        <p class="lead">Student Marks is a course-specific tool for entering and maintaining student marks.</p>
        <p>This is the result of a learning project to gain a better understanding of using various modern server-side and client-side technologies.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>BDD, TDD, E2E</h2>
            <p>Testing is a core part of this project.</p>
        </div>
        <div class="col-md-4">
            <h2>Server-Side</h2>
            <p>On the server-side, this is an ASP.NET Web API project using C# Razor with MVC-style paging.</p>
        </div>
        <div class="col-md-4">
            <h2>Client-Side</h2>
            <p>Client-side, this focuses on using HTML5 for structure, Bootstrap for styling, and AngularJS for underlying functionality, with a SPA-like interface for editing.</p>
        </div>
    </div>

    <div ng-controller="courseConfigCtrl">
        <hr />
        <div class="jumbotron">
            <h1>Student Grades <small>Requires Setup</small></h1>
            <p>TODO:</p>
            <ul>
                <li>Design Form <small class="label label-warning">Incomplete</small></li>
                <li>Build Functionality <small class="label label-warning">Incomplete</small></li>
                <li>Embed as Partial with Routing <small class="label label-warning">Incomplete</small></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="well well-sm">Placeholder</p>
            </div>
        </div>
        <hr />
    </div>

    <div ng-controller="courseConfigCtrl">
        <hr />
        <div class="jumbotron">
            <h1>Student Grades <small>Display Data</small></h1>
            <p>TODO:</p>
            <ul>
                <li>Design Form <small class="label label-warning">Incomplete</small></li>
                <li>Build Functionality <small class="label label-warning">Incomplete</small></li>
                <li>Embed as Partial with Routing <small class="label label-warning">Incomplete</small></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="well well-sm">Placeholder</p>
            </div>
        </div>
        <hr />
    </div>

    <div ng-controller="courseConfigCtrl">
        <hr />
        <div class="jumbotron">
            <h1>Class List <small>Initial Configuration</small></h1>
            <p>TODO:</p>
            <ul>
                <li>Design Form <small class="label label-warning">Incomplete</small></li>
                <li>Build Functionality <small class="label label-warning">Incomplete</small></li>
                <li>Embed as Partial with Routing <small class="label label-warning">Incomplete</small></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="well well-sm">Placeholder</p>
            </div>
        </div>
        <hr />
    </div>

    <div ng-controller="courseConfigCtrl">
        <hr />
        <div class="jumbotron">
            <h1>Class List <small>Maintenance</small></h1>
            <p>TODO:</p>
            <ul>
                <li>Design Form <small class="label label-warning">Incomplete</small></li>
                <li>Build Functionality <small class="label label-warning">Incomplete</small></li>
                <li>Embed as Partial with Routing <small class="label label-warning">Incomplete</small></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="well well-sm">Placeholder</p>
            </div>
        </div>
        <hr />
    </div>
    
    <div ng-controller="courseConfigCtrl">
        <hr />
        <div class="jumbotron">
            <h1>Configure Course <small>Name &amp; Markable Items</small></h1>
            <p>TODO:</p>
            <ul>
                <li>Design Form <small class="label label-success">Complete</small></li>
                <li>Build Functionality <small class="label label-success">Complete</small></li>
                <li>Embed as Partial with Routing <small class="label label-warning">Incomplete</small></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Course Name</h1>
                <input type="text" ng-model="courseName" />
                <input type="button" value="Save Changes" ng-click="saveCourseName()" />
                <input type="button" value="Reset" ng-click="resetCourseName()" />

                <h2>Evaluation Components</h2>
                <p>
                    Edit markable items and save changes.
                    <input type="button" value="Save Changes" ng-click="saveComponents()" />
                    <input type="button" value="Reset" ng-click="resetComponents()" />
                </p>
                <div ng-repeat="item in courseEval.MarkableItems">
                    <div>
                        <button ng-click="delete(item)"><span class="glyphicon glyphicon-remove"></span></button>
                        &mdash;
                        {{item.DisplayOrder + ' to '}}
                        <select ng-model="item.DisplayOrder" ng-options="position for position in courseConfig.displayPositions" ng-change="reorder(item)"></select>
                        <input type="radio" value="Quiz" ng-model="item.ItemType" /> Quiz
                        <input type="radio" value="Bucket" ng-model="item.ItemType" /> Bucket

                        <input type="text" ng-model="item.Name" />
                        <span ng-switch="item.ItemType">
                            <span ng-switch-when="Quiz">
                                <input type="number" ng-model="item.Weight" />
                                <input type="number" ng-model="item.TotalPossibleMarks" />
                            </span>
                            <span ng-switch-when="Bucket">
                                <select ng-model="item.TopicID" ng-options="topic.TopicID as topic.Description for topic in courseEval.BucketTopics"></select>
                                <input type="hidden" ng-model="item.TopicID" />
                            </span>
                        </span>
                    </div>
                </div>
                <div class="well">
                    <button ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
                    &mdash;

                    <input type="radio" value="Quiz" ng-model="newItem.ItemType" /> Quiz
                    <input type="radio" value="Bucket" ng-model="newItem.ItemType" /> Bucket

                    <input type="text" ng-model="newItem.Name" />
                    <span ng-switch="newItem.ItemType">
                        <span ng-switch-when="Quiz">
                            <input type="number" ng-model="newItem.Weight" />
                            <input type="number" ng-model="newItem.TotalPossibleMarks" />
                        </span>
                        <span ng-switch-when="Bucket">
                            <select ng-model="newItem.TopicID" ng-options="topic.TopicID as topic.Description for topic in courseEval.BucketTopics"></select>
                            <input type="hidden" ng-model="newItem.TopicID" />
                        </span>
                    </span>
                </div>
                <p>Total Weight of Evaluation Components: {{ totalWeight() + ' %' }}</p>

                <h2>Buckets and Topics</h2>
                <p>
                    Individual Bucket Weights:
                    <input type="number" ng-model="courseEval.BucketWeights" />
                </p>
                <span ng-repeat="topic in courseEval.BucketTopics">
                    <button ng-click="deleteTopic(topic)"><span class="glyphicon glyphicon-remove"></span>{{topic.Description}}</button>
                </span>
                <div class="well well-sm">
                    <button ng-click="addTopic()"><span class="glyphicon glyphicon-plus"></span></button>
                    <input type="text" ng-model="newTopic" />
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
@*
        CREDITS: Use the right script... http://www.epigroove.com/blog/solve-the-ui-bootstrap-modal-error-failed-to-load-template
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
*@
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

<script src="~/Scripts/ngApp/App.Directives.js"></script>
<script src="~/Scripts/ngApp/App.Routes.js"></script>
<script src="~/Scripts/ngApp/App.Services.js"></script>
<script src="~/Scripts/ngApp/App.Controllers.js"></script>
<script src="~/Scripts/ngApp/myApp.js"></script>
