@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Courses";

    var db = Database.Open("StudentMarks");
    
    if(IsPost)
    {
        var name = Request["courseName"];
        var number = Request["courseNumber"];
        var insert = @"INSERT INTO Courses(Name, Number) VALUES (@0, @1)";
        db.Execute(insert, name, number);
    }
    
    var query = "Select * from Courses";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Course and their Evaluation Components.</h2>
</hgroup>


<div>
    @foreach (var row in db.Query(query))
    {
        @(row.Number + " - " + row.Name)           
        <br />
    }
</div>
<form method="post">
    <input placeholder="Course Number" name="courseNumber" required />
    <input placeholder="Course Name" name="courseName" required />
    <input type="submit" name="addCourse" value="Add Course" />
</form>
