@{
    Page.Title = "Student Marks";
    Layout = "~/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 page-header">
        <h1 class="pull-left">Student Marks</h1>
        <div class="pull-right well col-md-4">
            <h4>Commands: </h4>
            <span class="badge">SaveComponentMarks</span>
            <span class="badge">SaveStudentMarks</span>
        </div>
        <div class="pull-right well col-md-4">
            <h4>Queries: </h4>
            <span class="badge">ListTermOfferings(All)</span>
            <span class="badge">ListCurrentMarks(CourseNumber)</span>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Current <small>&ndash; Jan-Apr 2015</small></h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">COMP-1517 - Sec A02</a></li>
            <li><a href="#">COMP-1517 - Sec A03</a></li>
            <li class="active"><a href="#">PROG-2504 - Sec A02</a></li>
        </ul>
        <hr />
        <h4>Past <small>&ndash; Sep-Dec 2014</small></h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">PROG-2018 - Sec A01</a></li>
            <li><a href="#">PROG-2018 - Sec A04</a></li>
            <li><a href="#">PROG-1508 - Sec A02</a></li>
        </ul>
        <hr />
        <h5>Future <small>&ndash; Sep-Dec 2015</small></h5>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">PROG-2018 - Sec A01</a></li>
            <li><a href="#">PROG-1508 - Sec ???</a></li>
            <li><a href="#">PROG-1508 - Sec A02</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <h2>Current Marks <small>PROG-2504 - Beginning Android Deveopment <a href="~/courseSettings.cshtml" title="Edit Course Settings"><span class="fa fa-gear"></span></a></small></h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>
                        Student
                    </th>
                    <th>
                        Lab 1
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                    <th>
                        Quiz 1
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                    <th>
                        Buckets &hellip;
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                    <th>
                        Lab 2
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                    <th>
                        Quiz 2
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                    <th>
                        Project &hellip;
                        <span class="btn btn-xs btn-info fa fa-pencil"> Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Chester Cavey <span class="badge">1062</span>
                    </td>
                    <td>
                        <b>75 %</b>
                        &nbsp;
                        (15/20)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Fred Flintstone <span class="badge">0952</span>
                    </td>
                    <td>
                        <b>75 %</b>
                        &nbsp;
                        (15/20)
                    </td>
                    <td></td>
                    <td>
                        <b>25 %</b>
                        (3/12)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Louie Granite <span class="badge">0873</span>
                    </td>
                    <td>
                        <b>75 %</b>
                        &nbsp;
                        (15/20)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Betty McBricker <span class="badge">0955</span>
                    </td>
                    <td>
                        <b>77.5 %</b>
                        &nbsp;
                        (15.5/20)
                    </td>
                    <td></td>
                    <td>
                        <b>0 %</b>
                        (0/12)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Barney Rubble <span class="badge">0949</span>
                    </td>
                    <td>
                        <b>80 %</b>
                        &nbsp;
                        (16/20)
                    </td>
                    <td></td>
                    <td>
                        <b>25 %</b>
                        (3/12)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Wilma Slaghoople <span class="badge">0964</span>
                    </td>
                    <td>
                        <b>85 %</b>
                        &nbsp;
                        (17/20)
                    </td>
                    <td></td>
                    <td>
                        <b>25 %</b>
                        (3/12)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="fa fa-pencil"> Edit</span></td>
                    <td>
                        Rodney Whetstone <span class="badge">0982</span>
                    </td>
                    <td>
                        <b>75 %</b>
                        &nbsp;
                        (15/20)
                    </td>
                    <td></td>
                    <td>
                        <b>25 %</b>
                        (3/12)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
