@{
    Page.Title = "Student Marks";
    Layout = "~/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 page-header">
        <h1>Student Marks</h1>
    </div>
    <div class="col-md-2">
        <h3>Current <small>&ndash; Jan-Apr 2015</small></h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">COMP-1517 - Sec A02</a></li>
            <li><a href="#">COMP-1517 - Sec A03</a></li>
            <li class="active"><a href="#">COMP-2504 - Sec A02</a></li>
        </ul>
        <br />
        <form method="post" class="well">
            <fieldset>
                <legend>New Course</legend>
                <div class="form-group">
                    <label class="sr-only" for="courseNumber">Course Number</label>
                    <input type="text" class="form-control input-sm" name="courseNumber" placeholder="Number" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="courseName">Course Name</label>
                    <input type="text" class="form-control input-sm" name="courseName" placeholder="Name" />
                </div>
                <input type="submit" value="Add Course" class="btn btn-default btn-sm" />
            </fieldset>
        </form>
        <hr />
        <h4>Past <small>&ndash; Jan-Apr 2015</small></h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">PROG-2018 - Sec A01</a></li>
            <li><a href="#">PROG-2018 - Sec A04</a></li>
            <li><a href="#">COMP-1508 - Sec A02</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <h2>Current Marks</h2>
        @{
            
        }
    </div>
</div>


<div class="row col-md-12">
    <h1>Edit Course</h1>
</div>

<div class="row col-md-12">

</div>
