@{
    Page.Title = "Term Setup";
    Layout = "~/_Layout.cshtml";
}

<style type="text/css">
    input.percent::after {
        content: ' %'
    }
</style>
<div class="row">
    <div class="col-md-12 page-header">
        <h1 class="pull-left">Term Setup</h1>
        <div class="pull-right well">
            <h4>Commands: </h4>
            <span class="badge">CreateCourseOffering</span>
            <span class="badge">UpdateCourseOffering</span>
            <span class="badge">SaveMarkBreakdown</span>
        </div>
        <div class="pull-right well">
            <h4>Queries: </h4>
            <span class="badge">ListTermOfferings(Current+Future)</span>
            <span class="badge">ListEvaluationComponents(CourseNumber)</span>
            <span class="badge">ListPriorTerms(CourseNumber)</span>
        </div>
    </div>

    <div class="col-md-2">
        <h3>Current <small>&ndash; Jan-Apr 2015</small></h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">COMP-1517 - A02, A03</a></li>
        </ul>
        <br />
        <form method="post" class="well">
            <fieldset>
                <legend>New Offering</legend>
                <div class="form-group">
                    <label class="sr-only" for="courseNumber">Course to Offer</label>
                    <select class="form-control" name="courseNumber">
                        <option value='' disabled selected style='display:none;'>Choose Course *</option>
                        <option>PROG-1014 - Programming Fundamentals</option>
                        <option>PROG-1508 - Database Fundamentals</option>
                        <option>COMP-1517 - Client/Server Architecture</option>
                        <option>PROG-2018 - Domain Driven Design</option>
                        <option>PROG-2504 - Beginning Android Deveopment</option>
                        <option>COMP-2545 - Enterprise Systems Security</option>
                    </select>
                    <label class="sr-only" for="schoolTerm">Choose School Term</label>
                    <select class="form-control" name="schoolTerm">
                        <option value='' disabled selected style='display:none;'>School Term</option>
                        <optgroup label="2015">
                            <option>Jan-Apr 2015</option>
                            <option>May-Aug 2015</option>
                            <option>Sep-Dec 2015</option>
                        </optgroup>
                        <option disabled>──────────</option>
                        <optgroup label="2016">
                            <option>Jan-Apr 2016</option>
                            <option>May-Aug 2016</option>
                            <option>Sep-Dec 2016</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="sectionName">Sections</label>
                    <input type="text" class="form-control input-sm" name="sectionName" placeholder="Sections (e.g.: A01, A02)" />
                </div>
                <input type="submit" value="Create Course Offering" class="btn btn-info btn-sm" />
            </fieldset>
        </form>
        <hr />
        <h4>Future <small>&ndash; Sep-Dec 2015</small></h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">PROG-2018 - Sec A01</a></li>
            <li><a href="#">PROG-1508 - A02</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <form method="post">
            <header>
                <h2>
                    New Offerings <small>PROG-2504 - Beginning Android Deveopment</small>
                </h2>
                <div class="form-inline">
                    <label for="sectionName">Sections</label>
                    <input type="text" class="form-control input-sm" name="sectionName" placeholder="Sectiosn" value="A02, A03" />

                    <label for="passMark">Pass</label>
                    <input type="number" class="form-control input-sm" name="passMark" placeholder="Pass Mark" value="50" />

                    <label for="schoolTerm">School Term</label>
                    <select class="form-control" name="schoolTerm">
                        <option value='' disabled style='display:none;'>School Term</option>
                        <optgroup label="2015">
                            <option selected>Jan-Apr 2015</option>
                            <option>May-Aug 2015</option>
                            <option>Sep-Dec 2015</option>
                        </optgroup>
                        <option disabled>──────────</option>
                        <optgroup label="2016">
                            <option>Jan-Apr 2016</option>
                            <option>May-Aug 2016</option>
                            <option>Sep-Dec 2016</option>
                        </optgroup>
                    </select>
                </div>
            </header>

            <hr />

            <fieldset class="col-md-6">
                <legend class="h3">
                    Mark Breakdown
                    &nbsp;
                    <div class="btn btn-xs btn-info" title="Reset to Course Defaults">
                        Reset
                        <span class="fa fa-refresh"></span>
                    </div>
                    &nbsp;
                    <div class="btn btn-xs btn-info" title="Save Mark Breakdown">
                        Save
                        <span class="fa fa-save"></span>
                    </div>
                </legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>%</th>
                            <th>Evaluation Component / Sub-Components</th>
                            <th>Controlled</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>
                                <div class="form-inline">
                                    <label>Lab 1</label>
                                    <select class="pull-right form-control input-sm">
                                        <option selected>-no sub-components-</option>
                                        <option>Pass/Fail Assessments</option>
                                        <option>Weighted Sub-Components</option>
                                    </select>
                                </div>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                <div class="form-inline">
                                    <label>Quiz 1</label>
                                    <select class="pull-right form-control input-sm">
                                        <option selected>-no sub-components-</option>
                                        <option>Pass/Fail Assessments</option>
                                        <option>Weighted Sub-Components</option>
                                    </select>
                                </div>
                            </td>
                            <td><span class="fa fa-check-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>
                                <div class="form-inline">
                                    <label>Buckets</label>
                                    <select class="pull-right form-control input-sm">
                                        <option>-no sub-components-</option>
                                        <option selected>Pass/Fail Assessments</option>
                                        <option>Weighted Sub-Components</option>
                                    </select>
                                </div>
                                <br />
                                <div class="well">
                                    <label>Quantity: </label>
                                    <input value="9" type="number" />
                                    <br />
                                    <label>Names (comma-separated): </label>
                                    <br />
                                    <textarea class="form-control" rows="3">Single Activity, Toast, Multiple Activities, ListView, WebService, Menu, Preferences, Threads, SqlLite</textarea>
                                </div>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <div class="form-inline">
                                    <label>Lab 2</label>
                                    <select class="pull-right form-control input-sm">
                                        <option selected>-no sub-components-</option>
                                        <option>Pass/Fail Assessments</option>
                                        <option>Weighted Sub-Components</option>
                                    </select>
                                </div>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                <div class="form-inline">
                                    <label>Quiz 2</label>
                                    <select class="pull-right form-control input-sm">
                                        <option selected>-no sub-components-</option>
                                        <option>Pass/Fail Assessments</option>
                                        <option>Weighted Sub-Components</option>
                                    </select>
                                </div>
                            </td>
                            <td><span class="fa fa-check-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>
                                <div class="form-inline">
                                    <label>Project</label>
                                    <select class="pull-right form-control input-sm">
                                        <option>-no sub-components-</option>
                                        <option>Pass/Fail Assessments</option>
                                        <option selected>Weighted Sub-Components</option>
                                    </select>
                                </div>
                                <br />
                                <div class="well">
                                    <div class="input-group">
                                        <input class="form-control percent" type="number" value="5">
                                        <span class="input-group-addon">%</span>
                                        <input class="form-control" type="text" value="Documentation" />
                                    </div>
                                    <div class="input-group">
                                        <input class="form-control percent" type="number" value="5">
                                        <span class="input-group-addon">%</span>
                                        <input class="form-control" type="text" value="UI Mockups" />
                                    </div>
                                    <div class="input-group">
                                        <input class="form-control percent" type="number" value="10">
                                        <span class="input-group-addon">%</span>
                                        <input class="form-control" type="text" value="Automated Tests" />
                                    </div>
                                    <div class="input-group">
                                        <input class="form-control percent" type="number" value="10">
                                        <span class="input-group-addon">%</span>
                                        <input class="form-control" type="text" value="App Functionality" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="col-md-6">
                <legend class="h3 form-inline">
                    Prior Terms
                    &nbsp;
                    <div class="btn btn-xs btn-info" title="Copy sub-components to new offering">
                        <span class="fa fa-angle-left"> Apply</span>
                        <span class="fa fa-angle-double-left"></span>
                    </div>
                    &nbsp;
                    <label class="sr-only" for="courseNumber">Course to Offer</label>
                    <select class="form-control input-sm" name="courseNumber">
                        <option value='' disabled style='display:none;'>Choose Term</option>
                        <option>PROG-2504 - Sep-Dec 2014</option>
                        <option selected>PROG-2504 - Jan-Apr 2014</option>
                        <option>PROG-2504 - Jan-Apr 2013</option>
                    </select>
                </legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>%</th>
                            <th>Evaluation Component / Sub-Components</th>
                            <th>Controlled</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>
                                <b>Lab 1</b>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                <b>Quiz 1</b>
                            </td>
                            <td><span class="fa fa-check-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>
                                <b>Buckets</b>
                                <blockquote>
                                    <i>Pass/Fail</i>
                                    <span>12 Assignments</span>
                                </blockquote>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <b>Lab 2</b>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                <b>Quiz 2</b>
                            </td>
                            <td><span class="fa fa-check-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>
                                <b>Project</b>
                                <blockquote>
                                    <ul>
                                        <li><span class="badge">5 %</span> Documentation</li>
                                        <li><span class="badge">5 %</span> UI Mockups</li>
                                        <li><span class="badge">10 %</span> Automated Tests</li>
                                        <li><span class="badge">10 %</span> App Functionality</li>
                                    </ul>
                                </blockquote>
                            </td>
                            <td><span class="fa fa-square-o"></span></td>
                            <td><span class="fa fa-check-square-o"></span></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
</div>